.col1-image{
  padding:0;
  margin:0;
  height:600px;
}
.col2-image{
  width:100%;
}
.row1{
  width:100%;
  height:90px;
  border-bottom:1px solid lightgrey;

}

.row2{
  margin-top:4%;
  width:100%;
}
.col{
  float:left;
}
.col1{
  width:40%;
  po
}
.col2{
  width:60%;
  background-color:lightgrey;
}

.tweet-div{
  margin:10px;
  padding:20px;
  background-color:white;
  border:1px solid darkgrey;
  border-radius:3px;
}

.menu-list{
  list-style:none;
  font-size:28px;
}

.menu-link{
  color:darkgrey;
}

.menu-link:hover{
  text-decoration:none;
  color:darkgrey;
}

.menu-link:focus{
  text-decoration:none;
  color:darkgrey;
}

.arrow-image{
  width:35px;
  padding-bottom:8px;
}

.jumbo-image{
 width:100%;
}

.jumbotron{
  padding:0;
  margin:0;
}

.searchbar{
  width:50%;
  height:auto;
  display:block;
  margin:0 auto;
  padding-top:7px;
}
